/* Write your CSS here */
.bg {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);

  background-size: cover;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img-top {
  width: 100%;
}
.lat {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-weight: bold;
  font-size: 40px;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.team-container {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);
  height: 100vh;
  background-size: cover;
}
