/* Write your CSS here */
.team-latest {
  background-color: #0f172a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.heading-lat {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-weight: bold;
  font-size: 28px;
  text-align: start;
}
.date {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-weight: bold;
  font-size: 20px;
}
.venue {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-weight: bold;
  font-size: 16px;
}
.result {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-weight: bold;
  font-size: 16px;
}
.fir-ing {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-weight: 500;
  font-size: 14px;
  text-align: end;
}
.sec-ing {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-weight: 500;
  font-size: 14px;
  text-align: end;
}
.man {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-weight: 600;
  font-size: 14px;
  text-align: end;
}
.ump {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-weight: bold;
  font-size: 16px;
  text-align: end;
}
.ing {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-weight: bold;
  font-size: 18px;
  text-align: end;
}
.imgl {
  width: 250px;
  height: 250px;
}
